/**
 * For my users, all the following were useful declarations.  Modify or delete as you will.
 */

.scald-file-context-full {
    margin-bottom: 4em;
}

.scald-file-context-full .file-info {
    float: right;
    background-color: #eee;
    border: 1px solid #333;
    box-shadow: 0 1px 3px #333;
    margin: 1em;
    padding: 1em;
    ul {
        list-style-type: none;
    }
}